@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 0 !important;
    position: relative;
    background-color: $primary-table;
    @include mobile-XS() {
        font-size: 0.775rem;
    }
    @include navbar();
    @include footer();
    @include back-top();
    @include form();
    @include table();
    /* 跳到主要內容區塊 */
    .for_accessibility .go-main {
        position: absolute;
        top: 18px;
        left: 16px;
        z-index: 1000;
        width: 1px;
        height: 1px;
        white-space: nowrap;
        overflow: hidden;
        color: #fff;
        border-radius: 4px;
    }
    .for_accessibility .go-main:focus {
        width: auto;
        height: auto;
        padding: 6px;
        background-color: $primary-dark;
    }
    .for_accessibility div {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: transparent;
        opacity: 0.1;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        padding: $p-XS 0;
        min-height: 747px;
        width: 100%;
        @include web-XL {
            min-height: 76vh;
        }
        @include web-L {
            min-height: 79vh;
        }
        @include web-S {
            min-height: 87vh;
            justify-content: center;
        }
        @include pad {
            min-height: 77vh;
        }
        @include mobile-L {
            min-height: 50vh;
            padding: 0;
        }

        .card {
            background-color: white !important;
            padding: $p-M $p-L;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba($color: black, $alpha: 0.1);
            border: unset;
            display: block;
            @include pad {
                padding: $p-S $p-M;
            }
            @include mobile-L {
                padding: $p-S;
            }
            .alert {
                margin: 0;
                margin-top: $m-M;
                font-size: $size-h5;
                line-height: 1.75;
                @include mobile-L {
                    margin-bottom: $m-XS;
                }
            }
        }

        //首頁
        .content-index {
            .card {
                padding: 0;
                img {
                    width: 100%;
                    border-radius: 16px 16px 0 0;
                    @include mobile-L {
                        object-fit: cover;
                    }
                }
                .info {
                    margin-bottom: $m-M;
                    color: $primary-dark;
                    font-size: $size-h5;
                    @include mobile-L {
                        margin-bottom: $m-S;
                        font-size: $size-p;
                    }
                    i {
                        margin-right: $p-XXS;
                    }
                }
                .btn {
                    width: 100%;
                    padding: 0;
                    margin-top: $m-XS;
                    button {
                        @include mobile-L {
                            width: 100%;
                        }
                    }
                }
                form {
                    padding: $p-XL;
                    padding-top: $p-M;
                    max-width: 800px;
                    @include web-S {
                        min-height: 48vh;
                    }
                    @include mobile-L {
                        padding: $p-S;
                        max-width: unset;
                        min-height: initial;
                    }
                    table {
                        margin-bottom: $m-XS;
                        thead {
                            th {
                                &:first-child {
                                    text-align: center;
                                    @include mobile-L {
                                        width: 30% !important;
                                    }
                                }
                                &:nth-child(2) {
                                    width: 70% !important;
                                }
                                .btn-choice {
                                    font-size: $size-p;
                                    border: solid 1px white;
                                    padding: 0px $p-XXS;
                                    height: unset;
                                    &:hover {
                                        background-color: white;
                                        color: $primary-default;
                                    }
                                    @include mobile-L {
                                        padding: 2px $m-XXS;
                                        margin-bottom: $m-XXS;
                                    }
                                }
                            }
                        }
                        tbody {
                            td {
                                &:first-child {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                    .input-group {
                        margin-top: $p-XXS;
                        display: flex;
                        justify-content: space-between;
                        /* dropzone */
                        .dropzone {
                            width: 100%;
                            min-height: 200px;
                            border: dashed 2px #ced4da;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                        }
                        .dropzone.dz-clickable .dz-message {
                            width: 100%;
                            color: #939ba2;
                        }
                        .input-group > .custom-file {
                            height: 100%;
                            flex-wrap: wrap;
                        }
                        .dropzone .delete-btn {
                            position: absolute;
                            right: -12px;
                            top: -12px;
                            font-size: 1.6rem;
                            font-weight: bold;
                            cursor: pointer;
                            z-index: 30;
                            color: #999;
                        }
                        .dropzone .dz-preview .dz-image {
                            width: 120px;
                            height: 120px;
                            @include pad {
                                width: 100px;
                                height: 100px;
                            }
                            @include mobile-L {
                                width: 90px;
                                height: 90px;
                            }
                            @include mobile-XS {
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
